<div class="row">
  <div fxHide fxShow.gt-sm class="col-3">
    <div class="container sticky-top">
      <farm-filter [products]="products" [farmName]="farmName"></farm-filter>
    </div>
  </div>
  <div class="col">
    <product-filter
      *ngIf="!media.isActive('xs') && !media.isActive('sm'); else mobileFilter"
      [category]="category"
      (changeFilter)="productFilter($event)"
    ></product-filter>

    <ng-template #mobileFilter>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div *ngIf="media.isActive('xs')" fxFlex="1"></div>
        <div *ngIf="!media.isActive('xs')" fxFlex="15"></div>
        <div fxLayout="row" fxLayoutGap="5%" fxFlex="70" class="mt-2">
          <mobile-farm-filter
            [products]="products"
            [farmName]="farmName"
          ></mobile-farm-filter>

          <mobile-product-filter
            [category]="category"
            (changeFilter)="productFilter($event)"
          ></mobile-product-filter>
        </div>
        <div fxFlex></div>
      </div>
    </ng-template>
    <div class="row">
      <ng-container *ngFor="let p of filteredProducts; let i = index">
        <ng-container *ngIf="media.isActive('xs')">
          <div class="col">
            <product-card [product]="p" [shopping-cart]="cart"></product-card>
          </div>
          <div class="w-100"></div>
        </ng-container>

        <ng-container *ngIf="media.isActive('sm')">
          <div class="col" [class.col-6]="filteredProducts.length - i < 2">
            <product-card [product]="p" [shopping-cart]="cart"></product-card>
          </div>
          <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
        </ng-container>

        <ng-container *ngIf="!media.isActive('xs') && !media.isActive('sm')">
          <div class="col" [class.col-4]="filteredProducts.length - i < 3">
            <product-card [product]="p" [shopping-cart]="cart"></product-card>
          </div>
          <div *ngIf="(i + 1) % 3 === 0" class="w-100"></div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
