<div class="container">
  <h1 class="text-center my-3">Farm Orders</h1>

  <div class="row">
    <div class="col-md"></div>
    <div class="mat-elevation-z8 col-md-8">
      <div fxLayout="row" fxLayoutAlign="space-around center" class="mt-2">
        <mat-form-field class="filter">
          <mat-label>Filter</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Filter"
            #input
          />
        </mat-form-field>

        <mat-form-field class="interval">
          <mat-label>Choose Time Interval</mat-label>
          <mat-select
            (selectionChange)="selected($event)"
            [(ngModel)]="timeInterval"
            name="interval"
          >
            <mat-option *ngFor="let t of timeIntervalArr" [value]="t">
              {{ t.interval }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ dataSource.filteredData.indexOf(row) + 1 }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="datePlaced">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Time Interval
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.datePlaced | date: timeInterval.format }}
            {{ timeInterval.interval !== "day" ? "th year" : "" }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="total">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Total
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            ${{ calculateTotal(row) }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef>
            ${{ calculateTotalAllOrders() }}
          </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="view">
          <mat-header-cell *matHeaderCellDef> View </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button
              (click)="setFarmOrder(row)"
              mat-mini-fab
              class="fab-preview"
              routerLink="/farm/order/view"
            >
              <mat-icon class="icon-preview">preview</mat-icon>
            </button>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="noRecord">
          <mat-footer-cell *matFooterCellDef>No orders found.</mat-footer-cell>
        </ng-container>

        <ng-template *ngIf="!dataSource">
          <mat-footer-row *matFooterRowDef="['noRecord']"></mat-footer-row>
        </ng-template>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>

        <mat-row *matNoDataRow>
          <mat-cell colspan="4">
            No data matching the filter "{{ input.value }}"
          </mat-cell>
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[6, 12, 25, 100]"></mat-paginator>
    </div>
    <div class="col-md"></div>
  </div>
</div>
