<div class="container">
  <div fxLayout="column" fxLayoutAlign="space-evenly center" class="my-3">
    <h1>Products</h1>
    <h2 *ngIf="!products?.length && !isLoading">
      Products have not been found
    </h2>

    <ng-container *ngIf="isLoading">
      <mat-spinner mode="indeterminate" diameter="70"></mat-spinner>
      <h2>Loading data</h2>
    </ng-container>
  </div>

  <div class="row">
    <div class="col-md"></div>
    <div class="mat-elevation-z8 col-md-11">
      <mat-form-field class="mt-2">
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Filter"
          #input
        />
      </mat-form-field>

      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ dataSource.filteredData.indexOf(row) + 1 }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Title
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.title }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="farmName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Title
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.farm.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Category
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.category }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Price
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> ${{ row.price }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="imageUrl">
          <mat-header-cell *matHeaderCellDef>
            Image
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div
              [style.backgroundImage]="'url(' + row.imageUrl + ')'"
              class="thumbnail"
            ></div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            Actions
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button
              [routerLink]="['/farm/products', row._id]"
              mat-mini-fab
              class="fab-preview mr-2"
            >
              <mat-icon class="icon-preview">edit</mat-icon>
            </button>
            <button
              (click)="delete(row)"
              mat-mini-fab
              class="fab-preview"
              color="warn"
            >
              <mat-icon class="icon-preview">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[6, 12, 25, 100]"></mat-paginator>
    </div>
    <div class="col-md"></div>
  </div>
</div>
