<div class="product-card">
  <mat-card class="product-card">
    <img
      mat-card-image
      [src]="product.imageUrl"
      alt="{{ product.title }}"
      height="200vh"
    />

    <mat-card-content>
      <p>
        {{ product.farm.name }}
      </p>
      <div>
        <mat-card-title>{{ product.title }}</mat-card-title>
        <mat-card-subtitle>${{ product.price }}</mat-card-subtitle>
      </div>
    </mat-card-content>

    <mat-card-footer>
      <button
        *ngIf="getQuantity() === 0; else updateQuantity"
        (click)="addToCart()"
        mat-raised-button
        color="primary"
        class="btn btn-block p-1"
      >
        Add to Cart
      </button>
      <ng-template #updateQuantity>
        <div class="row no-gutters">
          <div class="col-2">
            <button
              mat-raised-button
              (click)="removeFromCart()"
              class="quantity p-1"
              color="primary"
            >
              <mat-icon>remove</mat-icon>
            </button>
          </div>
          
           <div *ngIf="!isLoading" class="col text-center">
            <div>{{ getQuantity() }} in cart</div>
          </div>
          <div *ngIf="isLoading" class="col">
            <div class="row">
              <div class="col-4"></div>
              <div class="col">
                <mat-spinner
                  diameter="35"
                  mode="indeterminate"
                  class="mr-5"
                ></mat-spinner>
              </div>
              <div class="col-4"></div>
            </div>
          </div> 
          <div class="col-2">
            <button
              mat-raised-button
              (click)="addToCart()"
              class="quantity p-1"
              color="primary"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </ng-template>
    </mat-card-footer>
  </mat-card>
</div>
