.sticky-top {
  top: 0px;
  margin-bottom: 13px;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

.list-group {
  display: flex;
  flex-direction: row;
}

.list-group-item-action.active {
  background-color: #00bcd4;
  border-color: #00bcd4;
}
