mat-card {
    max-width: 95%;
    
  
    margin: 2em auto;
  
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }

  mat-card-title, mat-card-subtitle{
    text-align: center;
  }