<mat-card *ngIf="shoppingCart$ | async as cart">
  <mat-card-title>Order Summary</mat-card-title>
  <mat-card-subtitle
    >You have {{ cart.items.length }} items in your shopping
    cart.</mat-card-subtitle
  >
  <mat-card-content>
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of cart.items" class="list-group-item">
        {{ item.quantity }} * {{ item.product.title }}
        <div class="float-right">
          {{ item.itemTotalPrice | currency: "USD":true }}
        </div>
      </li>
      <li class="list-group-item font-weight-bold">
        Total
        <div class="float-right">
          {{ cart.totalPrice | currency: "USD":true }}
        </div>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
