<div class="container">
  <div fxLayout="column" fxLayoutAlign="space-evenly center" class="my-3">
    <h1>Order Summary</h1>
    <h2 *ngIf="!order && !isLoading">
      Order have not been found
    </h2>

    <ng-container *ngIf="isLoading">
      <mat-spinner mode="indeterminate" diameter="70"></mat-spinner>

      <h2>Loading data</h2>
    </ng-container>
  </div>

  <mat-card *ngIf="order">
    <mat-card-subtitle
      >The order was placed at
      {{ order.datePlaced | date: "medium" }}</mat-card-subtitle
    >
    <mat-card-content>
      <ul class="list-group list-group-flush">
        <li
          *ngFor="let item of order.shoppingCart.items"
          class="list-group-item"
        >
          {{ item.quantity }} * {{ item.product.title }}
          <div class="float-right">${{ item.itemTotalPrice }}</div>
        </li>
        <li class="list-group-item font-weight-bold">
          Total
          <div class="float-right">$ {{ order.shoppingCart.totalPrice }}</div>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
