.quantity {
  width: 70% !important;
  min-width: unset !important;
//   font-weight: bold;
//   font-size: 20px;
  //   text-align: center;
  // display: block;
  // width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-icon {
    font-weight: bold;
  }
